<!DOCTYPE>
<html ng-app='myApp'>
	<head>
		<title>  VOKRA </title>
		<!-- Latest compiled and minified CSS -->
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

			<!-- Optional theme -->
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	</head>

	<body>

<nav class="navbar navbar-inverse">
	<ul class="nav navbar-nav">
        <ul class="nav navbar-nav">
        <li class="active"><a href="/"> Home </a></li>
        <li class="active"><a href="/adopt"> Adopt </a></li>
        <li class="active"><a href="/volunteer"> Volunteer </a></li>
        <li class="active"><a href="/catCare"> Cat Care </a></li>
        <li class="active"><a href="/aboutUs"> About Us </a></li>
        <li class="active"><a href="/mewsLetter"> MewsLetter </a></li>
        <li class="active"><a href="/events"> Events </a></li>
        <li class="active"><a href="/thankYou"> Thank You </a></li>
        <li class="active"><a href="/addCat"> Add Cat </a></li>
   </ul>
</nav>

		<div class="container" ng-controller="myCtrl">
			<h1> New Cat </h1>
				<table class='table'>
					<thead>

						<tr ng-repeat="cat in catList">
							<th> Cat Code </th>
							<td>{{ cat.catCode }}</td>
							<td><button class='btn btn-danger' ng-click='remove(cat._id)'> Delete Cat </button> </td>
						</tr>

						<tr ng-repeat="cat in catList">
							<th> DOB </th>
							<td>{{cat.DOB}}</td>
						</tr>

						<tr ng-repeat="cat in catList">
							<th> Intake Name </th>
							<td>{{cat.intakeName}}</td>
						</tr>

						<tr ng-repeat="cat in catList">
							<th> Intake Age </th>
							<td>{{cat.intakeAge}}</td>
						</tr>

						<tr ng-repeat="cat in catList">
							<th> Intake Date </th>
							<td>{{cat.intakeDate}}</td>
						</tr>

						<tr ng-repeat="cat in catList">
							<th> Intake Person </th>
							<td>{{cat.intakePerson}}</td>
						</tr>	

						<tr ng-repeat="cat in catList">
							<th> Intake Photo </th>
							<td>{{cat.intakePhoto}}</td>
						</tr>	
							
						<tr ng-repeat="cat in catList">
							<th> Intake Location </th>
							<td>{{cat.intakeLocation}}</td>
						</tr>

						<tr ng-repeat="cat in catList">
							<th> Intake Story </th>
							<td>{{cat.intakeStory}}</td>
						</tr>
						
						<tr ng-repeat="cat in catList">	
							<th> Intake Phone </th>
							<td>{{cat.intakePhone}}</td>
						<tr>

						<tr ng-repeat="cat in catList">
							<th> Intake Email </th>
							<td>{{cat.intakeEmail}}</td>
						</tr>
						
						<tr ng-repeat="cat in catList">	
							<th> Cat Description </th>
							<td>{{cat.catDescription}}</td>
						</tr>

						<tr ng-repeat="cat in catList">
							<th> Cat Gender </th>
							<td>{{cat.catGender}}</td>
						</tr>

						<tr ng-repeat="cat in catList">
							<th> Cat Hair </th>
							<td>{{cat.catHair}}</td>
						<tr>

						<tr ng-repeat="cat in catList">
							<th> Cat Approachability </th>
							<td>{{cat.catApproachability}}</td>
						</tr>
	
							
						<tr ng-repeat="cat in catList">
							<th> Ears </th>
							<td>{{cat.Ears}}</td>
						</tr>

						<tr ng-repeat="cat in catList">
							<th> Teeth </th>
							<td>{{cat.Teeth}}</td>
						</tr>

						<tr ng-repeat="cat in catList">
							<th> Fleas </th>
							<td>{{cat.Fleas}}</td>
						</tr>

						<tr ng-repeat="cat in catList">
							<th> Eyes </th>
							<td>{{cat.Eyes}}</td>
						</tr>


						<tr ng-repeat="cat in catList">
							<th> Food </th>
							<td>{{cat.Food}}</td>
						</tr>

						<tr ng-repeat="cat in catList">
							<th> Litter </th>
							<td>{{cat.Litter}}</td>
						</tr>

	
						<tr ng-repeat="cat in catList">
							<th> Deflea </th>
							<td>{{cat.Deflea}}</td>
						</tr>

						<tr ng-repeat="cat in catList">
							<th> Deflea Date </th>
							<td>{{cat.defleaDate}}</td>
						</tr>

						<tr ng-repeat="cat in catList"> 
							<th> Defleaed By </th>
							<td>{{cat.defleaedBy}}</td>
						</tr>

						<tr ng-repeat="cat in catList">
							<th> 1st DeWorming </th>
							<td>{{cat.onedeWorming}}</td>
						</tr>

						<tr ng-repeat="cat in catList"> 
							<th> 1st DeWorming By </th>
							<td>{{cat.onedeWormingBy}}</td>
						</tr>

						<tr ng-repeat="cat in catList"> 
							<th> 1st DeWorming Date </th>
							<td>{{cat.onedeWormingDate}}</td>
						</tr>			

						<tr ng-repeat="cat in catList">
							<th> 2nd DeWorming </th>
							<td>{{cat.twoDeWorming}}</td>
						</tr>

						<tr ng-repeat="cat in catList"> 
							<th> 2nd DeWorming By </th>
							<td>{{cat.twoDeWormingBy}}</td>
						</tr>


						<tr ng-repeat="cat in catList"> 
							<th> 2nd DeWorming Date </th>
							<td>{{cat.twoDeWormingDate}}</td>
						</tr>				

						<tr ng-repeat="cat in catList">
							<th> 1st Vaccination </th>
								<td>{{cat.oneVaccination}}</td>
						</tr>

						<tr ng-repeat="cat in catList"> 
							<th> 1st Vaccination By </th>
							<td>{{cat.oneVaccinationBy}}</td>
						</tr>


						<tr ng-repeat="cat in catList"> 
							<th> 1st Vaccination Date </th>
							<td>{{cat.oneVaccinationDate}}</td>
						</tr>			

						<tr ng-repeat="cat in catList">
							<th> 2nd Vaccination </th>
							<td>{{cat.twoVaccination}}</td>
						</tr>

						<tr ng-repeat="cat in catList"> 
							<th> 2nd Vaccination By </th>
							<td>{{cat.twoVaccinationBy}}</td>
						</tr>


						<tr ng-repeat="cat in catList"> 
							<th> 2nd Vaccination Date </th>
							<td>{{cat.twoVaccinationBy}}</td>
						</tr>	

						<tr ng-repeat="cat in catList">
							<th> Spay / Neuter </th>
							<td>{{cat.spayNeuter}}</td>
						</tr>
		
						<tr ng-repeat="cat in catList">
							<th> Spay / Neuter Date </th>
							<td>{{cat.spayNeuter}}</td>
						</tr>

						<tr ng-repeat="cat in catList">
							<th> Spay / Neuter By </th>
							<td>{{cat.spayNeuterBy}}</td>
						</tr>

						<tr ng-repeat="cat in catList">
							<th> Spay / Neuter Date </th>
							<td>{{cat.spayNeuterDate}}</td>
						</tr>

						<tr ng-repeat="cat in catList">
							<th> Spay / Neuter Tattoo # </th>
							<td>{{cat.spayNeuterTattoo}}</td>
						</tr>

						<tr ng-repeat="cat in catList">
							<th> Spay / Neuter Microchip </th>
							<td>{{cat.spayNeuterMicrochip}}</td>
						</tr>
						

						<tr ng-repeat="cat in catList">
							<th> Fostered Date </th>
							<td>{{cat.fosteredDate}}</td>
						</tr>

						<tr ng-repeat="cat in catList">
							<th> Foster Person </th>
							<td>{{cat.fosterPerson}}</td>
						</tr>

						<tr ng-repeat="cat in catList">
							<th> Foster Email </th>
							<td>{{cat.fosterEmail}}</td>
						</tr>

						<tr ng-repeat="cat in catList">
							<th> Foster Phone </th>
							<td>{{cat.fosterPhone}}</td>
						</tr>

						
			
					</tr>
					<input ng-model="test">
				{{test}}
				</thead>
						<tbody>


							<tr>	
								<th> Cat Code </th>
								<td> <input class='form-control' ng-model="cat.catCode"></td>
							</tr>


							<tr> 
								<th> Cat DOB </th>
								<td> <input class="form-control" ng-model="cat.DOB"> </td>
							</tr>


							<tr> 
								<th> Intake Name </th>
								<td> <input class="form-control" ng-model="cat.intakeName"> </td>
							</tr>


							<tr> 
								<th> Intake Age </th>
								<td> <input class="form-control" ng-model="cat.intakeAge"> </td>
							</tr>


						<tr> 
								<th>  Intake Date </th>
								<td> <input class="form-control" ng-model="cat.intakeDate"> </td>
						</tr>


						<tr> 
								<th> Intake Person </th>
								<td> <input class="form-control" ng-model="cat.intakePerson"> </td>
						</tr>


						<tr> 
								<th> Intake Photo </th>
								<td> <input class="form-control" ng-model="cat.intakePhoto"> </td>
						</tr>


						<tr> 
								<th> Intake Location </th>
								<td> <input class="form-control" ng-model="cat.intakeLocation"> </td>
						</tr>


						<tr> 
								<th> Intake Story </th>
								<td> <input class="form-control" ng-model="cat.intakeStory"> </td>
						</tr>


						<tr> 
								<th> Intake Phone </th>
								<td> <input class="form-control" ng-model="cat.intakePhone"> </td>
						</tr>


						<tr> 
								<th> Intake Email </th>
								<td> <input class="form-control" ng-model="cat.intakeEmail"> </td>
						</tr>


						<tr> 
								<th> Cat Description </th>
								<td> <input class="form-control" ng-model="cat.intakeDescription"> </td>
						</tr>


						<tr> 
								<th> Cat Gender </th>
								<td> <input class="form-control" ng-model="cat.catGender"> </td>
						</tr>


						<tr> 
								<th> Cat Hair </th>
								<td> <input class="form-control" ng-model="cat.catHair"> </td>
						</tr>


						<tr> 
								<th> Cat Approachability </th>
								<td> <input class="form-control" ng-model="cat.catApproachability"> </td>
						</tr>


						<tr> 
								<th> Ears </th>
								<td> <input class="form-control" ng-model="cat.catEars"> </td>
						</tr>


						<tr> 
								<th> Teeth </th>
								<td> <input class="form-control" ng-model="cat.catTeeth"> </td>
						</tr>


						<tr> 
								<th> Fleas </th>
								<td> <input class="form-control" ng-model="cat.catFleas"> </td>
						</tr>


						<tr> 
								<th> Eyes </th>
								<td> <input class="form-control" ng-model="cat.catEyes"> </td>
						</tr>


						<tr> 
								<th> Food </th>
								<td> <input class="form-control" ng-model="cat.catFood"> </td>
						</tr>


						<tr> 
								<th> Litter </th>
								<td> <input class="form-control" ng-model="cat.catLitter"> </td>
						</tr>


						<tr> 
								<th> Deflea </th>
								<td> <input class="form-control" ng-model="cat.catDeflea"> </td>
						</tr>


						<tr> 
								<th> Deflea Date </th>
								<td> <input class="form-control" ng-model="cat.catDefleaDate"> </td>
						</tr>


						<tr> 
								<th> Deflead By </th>
								<td> <input class="form-control" ng-model="cat.defleadBy"> </td>
						</tr>


						<tr> 
								<th> 1st DeWorming </th>
								<td> <input class="form-control" ng-model="cat.oneDeworming"> </td>
						</tr>


						<tr> 
								<th> 1st DeWorming By </th>
								<td> <input class="form-control" ng-model="cat.oneDewormingBy"> </td>
						</tr>


						<tr> 
								<th> 1st Deworming Date </th>
								<td> <input class="form-control" ng-model="cat.oneDewormingDate"> </td>
						</tr>


						<tr> 
								<th> 2nd Deworming </th>
								<td> <input class="form-control" ng-model="cat.twoDeworming"> </td>
						</tr>


						<tr> 
								<th> 2nd Deworming By </th>
								<td> <input class="form-control" ng-model="cat.twoDewormingBy"> </td>
						</tr>


						<tr> 
								<th> 2nd DeWorming Date </th>
								<td> <input class="form-control" ng-model="cat.twoDewormingDate"> </td>
						</tr>


						<tr> 
								<th> 1st Vaccination </th>
								<td> <input class="form-control" ng-model="cat.oneVaccination"> </td>
						</tr>


						<tr> 
								<th> 1st Vaccination By </th>
								<td> <input class="form-control" ng-model="cat.oneVaccinationBy"> </td>
						</tr>


						<tr> 
								<th> 1st Vaccination Date </th>
								<td> <input class="form-control" ng-model="cat.oneVaccinationDate"> </td>
						</tr>


						<tr> 
								<th> 2nd Vaccination </th>
								<td> <input class="form-control" ng-model="cat.twoVaccination"> </td>
						</tr>


						<tr> 
								<th> 2nd Vaccination By </th>
								<td> <input class="form-control" ng-model="cat.twoVaccinationBy"> </td>
						</tr>


						<tr> 
								<th> 2nd Vaccination Date </th>
								<td> <input class="form-control" ng-model="cat.twoVaccinationDate"> </td>
						</tr>


						<tr> 
								<th> Spay / Neuter </th>
								<td> <input class="form-control" ng-model="cat.spayNeuter"> </td>
						</tr>


						<tr> 
								<th> Spay / Neuter Date </th>
								<td> <input class="form-control" ng-model="cat.spayNeuterDate"> </td>
						</tr>


						<tr> 
								<th> Spay / Neuter Tattoo # </th>
								<td> <input class="form-control" ng-model="cat.spayNeuterTattoo"> </td>
						</tr>


						<tr> 
								<th> Spay / Neuter Microchip </th>
								<td> <input class="form-control" ng-model="cat.spayNeuterMicrochip"> </td>
						</tr>


						<tr> 
								<th> Foster Date </th>
								<td> <input class="form-control" ng-model="cat.fosterDate"> </td>
						</tr>


						<tr> 
								<th> Foster Person </th>
								<td> <input class="form-control" ng-model="cat.fosterPerson"> </td>
						</tr>


						<tr> 
								<th> Foster Email </th>
								<td> <input class="form-control" ng-model="cat.fosterEmail"> </td>
						</tr>


						<tr> 
								<th> Foster Phone </th>
								<td> <input class="form-control" ng-model="cat.fosterPhone"> </td>
						</tr>



							<td> <button class='btn btn-primary' ng-click='addCat()'> Add Cat </button> </td>
						</tbody>

			</table>

				
	
		</div>


		
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
	<script src="controllers/controller.js"></script>

	</body>
	
	</head>
</html>